<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../../javascripts/dateConverter.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar</title>
</head>

<body>
    <div class="container-fluid mainContainer">
        <div class="row editContainer">
            <div class="col-sm-3 col-12"></div>
            <div class="col-sm-6 col-12 formContainer">
                <form action="/projects/update/<%= results.id_project %>" class="formDiv" method="post">
                    <h3><strong> Editar proyecto</strong></h3>
                    <hr>
                    <label>Nombre del proyecto</label>
                    <input maxlength="45" class="form-control inputCreate " type="text" name="name" id=""
                        value="<%= results.name %>">
                    <hr>
                    <label>Descripción del proyecto</label>
                    <input maxlength="500" class="form-control inputCreate " type="text" name="description" id=""
                        value="<%= results.description %>">
                    <hr>
                    <label>Fecha de comienzo</label>
                    <input class="form-control inputCreate" type="text " name="date_start" id="date_start"
                        value="<%= results.date_start %>">
                    <label>Fecha de finalización</label>

                    <input class="form-control inputCreate" type="text" name="date_end" id="date_end"
                        value="<%= results.date_end %>">
                    <label>Fecha de finalización prevista</label>
                    <input class="form-control" type="text inputCreate" name="projected_end_date" id="projected_date"
                        value="<%= results.projected_end_date %>">
                    <hr>
                    <label>Presupuesto</label>
                    <input maxlength="25" class="form-control inputCreate" type="text" name="budget" id=""
                        value="<%= results.budget %>">
                    <hr>
                    <p> <button onclick="checkDateEdit('date_start', 'date_end', 'projected_date');" class="btn acceptButton" type="submit">Actualizar</button> </p>
                </form>
                <a href="/projects"> <button " class="btn cancelButtonEditProject buttonCancelForm">Cancelar</button> </a>
            </div>
        </div>



        <script>
            let dateStart = document.getElementById("date_start")
            convertDateEdit(dateStart.value, dateStart)

            let dateEnd = document.getElementById("date_end")
            convertDateEdit(dateEnd.value, dateEnd)

            let projectedDate = document.getElementById("projected_date")
            convertDateEdit(projectedDate.value, projectedDate)
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>